@import "../components/pages/index.scss";
@import "./variables.scss";

//Page scss imports
@import "../pages/about/scss/index.scss";
@import "../pages/contact-us/scss/index.scss";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Rajdhani', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.page-layout{
  position: relative;
  min-height: 100vh !important;
}
.content-layout{
  // padding-bottom: 20rem;
  // @media (max-width: $large-screen) {
  //   padding-bottom: 35rem;
  // }
  // @media (max-width: $small-screen) {
  //   padding-bottom: 45rem;
  // }
  min-height: 70vh;
}

.navbar{
  &__wrapper{
    background-color: $light-grey-navbar;
  }
}
.next-link-item{
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $green;
  @media (max-width:$small-screen) {
    padding: 0.5rem 0rem;
  }

 a{
  &:hover{
    color: $dark-green;
  }
 }
}