$light-green: #23d3a6;
$dark-green: #278f73;
$green: #2daf8b;
$grey: #929090;
$light-grey: #c4c4c4;
$white: #ffffff;
$black: #373d3f;
$red: #d92825;

// breakpoints
$small-screen : 576px;
$medium-screen: 768px;
$large-screen: 992px;
$xlarge-screen: 1200px;
$xx-large-screen: 1400px;


//Navbar
$light-grey-navbar: rgb(243, 245, 247);


//ProfilePage Colors


//V1
$skyblue: #E5F3FE;
$cornflower-blue-light: #B3C9FB;
$coral-red: #FF4D4D;
$light-orange: #FFE8E4;
$dark-navy-fontColor: #021D34;


//V2
$cornflower-blue:#517ABD;
$cornflower-blue-extra-light: #C6DCFF;
$dark-navy-blue:#021D34;